# Entornos virtuales y credenciales
env/
(env)/
venv/
.venv/
.env
.DS_Store

# Archivos de base de datos local y cache
*.sqlite3
__pycache__/
*.pyc

# Archivos de estado de Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/*.tfvars

#exportaciones temporales de datos
csv_export/
athena_create_tables_rendered.sql

#llaves ssh y credenciales
*.pem
*.pub
mongo_key*
id_rsa*

#Ansible
asible/inventory.ini
